/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.shrink{
	-webkit-transform:scale(0.95);
	-moz-transform:scale(0.95);
	-ms-transform:scale(0.95);
	transform:scale(0.95);
}

body#background {
  background: url('../images/code-blur.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#login {
  color: #fff;
}

#jumbotron {
  margin-top: 14%;
  margin-right: 1%;
  background: rgba(0, 0, 0 , 0.7);
  padding: 1% 1% 2% 1%;
}

#jumbotron h1 span {
  padding: 5px 16px 5px 7px;
  background-color: rgba(36, 42, 75, 0.7);
  color: #4db6ac;
}

#register {
  background-color: #000;
  padding: 1% 2% 2% 2%;
}

#login-register {
  margin-top: 14%;
  text-align: center;
  padding: 2%;
}

.thin {
  font-weight: 300;
}

span .medium {
  font-weight: 400;
}
